<div class="toolbar" fxLayout="row" fxLayoutAlign="space-between stretch">
    <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
            <!-- Yellow -->
            <div fxLayout="column" class="yellowBG yellowContainer">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="column">
                        <span class="material-icons">phone_enabled</span>
                    </div>
                    <div fxLayout="column">
                        <p>CALL NOW: +0 123 456 789</p>
                    </div>
                </div>
            </div>

            <div fxLayout="column">
                <p>Support | Free Shipping</p>
            </div>
        </div>
    </div>

    <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
            <div fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap=".5em">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <p>GBP</p>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <p><span class="material-icons lineHeight">expand_more</span></p>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <p>|</p>
                    </div>
                </div>
            </div>

            <div fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap=".5em">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <p>English</p>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <p><span class="material-icons lineHeight">expand_more</span></p>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <p>|</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>