<div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
    <div fxLayout="column" fxFlex="25">
        <img src="../../assets/images/shopify-tr.png" alt="shopify-tr">
    </div>
    <div fxLayout="column" fxFlex="53" class="inputContainer">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-icon matPrefix>menu</mat-icon> <span> &nbsp;</span>
            <input type="tel" matInput placeholder="555-555-1234">
            <span matSuffix><span> Search Product </span><span class="material-icons">
                    search
                </span></span>

        </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex="18">
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="1em">
            <div fxLayout="column" fxFlex="3em" class="yellowBG round height3em" fxLayoutAlign="center center">
                <span class="material-icons font2em">person</span>
            </div>
            <div fxLayout="column">
                <p>MY ACCOUNT</p>
            </div>
        </div>
    </div>
</div>