<div fxFill fxLayout="column">
    <!-- Tool Bar -->
    <div fxLayout="row" fxFlex="60px" fxLayoutAlign="center center" class="blackBG whiteColor">
        <div fxFill fxLayout="column" fxFlex="80" fxLayoutAlign="start stretch">
            <app-toolbar></app-toolbar>
        </div>
    </div>
    <!-- Search Container -->
    <div fxLayout="row" fxFlex="150px" fxLayoutAlign="center center" class="lightGreyBG">
        <div fxFill fxLayout="column" fxFlex="80" fxLayoutAlign="start stretch">
            <app-search-container></app-search-container>
        </div>
    </div>
    <!-- Nav Container -->
    <div fxLayout="row" fxFlex="60px" fxLayoutAlign="center center" class="yellowBG">
        <div fxFill fxLayout="column" fxFlex="80" fxLayoutAlign="start stretch">
            <app-nav></app-nav>
        </div>
    </div>
    <!-- Carousel -->
    <div fxLayout="row" fxLayoutAlign="center center" class="carousel">
        <div fxFill fxLayout="column" fxFlex="100" fxLayoutAlign="start stretch">
            <app-carousel></app-carousel>
        </div>
    </div>
</div>